#contenedor {
    /*primero defino las medidas del contenedor*/
    height: 600px;
    width: 600px;
    /*segundo sus bordes*/
    border: 1px solid black ;
    /*sus margenes*/
    margin: 200px auto;
    /*modifico las propiedades flexbox*/
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.caja {
    /*defino las medidas de la caja*/
    height: 200px;
    width: 200px;
    /* modifico las propiedades flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*cambio el color de la letra*/
    color: aliceblue;
}