#contenedor {
    /*primero defino las medidas del contenedor*
    
    /*segundo sus bordes*/
    border: 1px solid black;
    /*sus margenes*/
    margin: 0 auto;
    /*modifico las propiedades flexbox*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caja {
    /*defino las medidas de la caja*/
    height: 200px;
    width: 200px;
    /*su ubicacion relativa al contenedor*/

    /* modifico las propiedades flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*cambio el color de la letra*/
    color: aliceblue;
}