.logo {
    background-color: aqua;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.logo h1 {
    padding-left: 50px;
}
.h1{
   margin-left: 50rem;

}

.carrusel {

    align-items: center;
    border: 2px solid #090909;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    border-radius: 25px 25px 25px 25px;
    margin: 20px;
   
}

.img {

    border-radius: 25px 25px 25px 25px;
    
}

.p {
    text-align: justify;

}

.acordion{
    margin-bottom: 20px;
    margin-top: 100px;
}

.formulario{
    margin-bottom: 20px;
    margin-top: 200px;
}


