.logo {
    background-color: aqua;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo h1 {
    padding-left: 50px;
}

.carrusel {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #090909;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
    border-radius: 25px 25px 25px 25px;
    margin: 10px;

}

.p {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.descripcion {
    border: 2px solid #090909;

}

img {

    display: flex;
    flex-direction: row;
    border-radius: 25px 25px 25px 25px;

}

.contenedor {
    display: flex;
    flex-direction: column;
}

