#map-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 800px;
    margin: 100px;
    display:  flex;
    left: 300px;
}

#map {
    position: relative;
    z-index: -1;
    height: 500px;
    width: 800px;
    margin: auto;
}
